<section>
  <article>
    <h1 class="green">Front End Newbie <span class="subtitle">A better way to learn HTML, CSS, Javascript, & jQuery</span></h1>
  </article>

  <article class="large-6 columns no-border">
    <h2>This is for you if ...</h2>
    <ul>
      <li>You’re tired of blindly following tutorials.</li>
      <li>You want to build real projects and understand what you’re doing and why.</li>
      <li>You want to learn HTML, CSS, jQuery, and Javascript.</li>
      <li>You want the structure and community of an in-person bootcamp, but the flexibility of an online class.</li>
      <li>You’re done learning to code alone.</li>
    </ul>
  </article>
  <article class="large-6 columns no-border">
    <h2 class="green">You'll get ...</h2>
    <ul>
      <li>A monthly goal with weekly, bite-size assignments to help you get there.</li>
      <li>A small, supporitve group of Code Newbies (3 - 5 people) to learn with.</li>
      <li>Structured, weekly coding sessions with your coding group for focused learning.</li>
      <li>A place to track your progress, post your projects, and see how much you’ve learned.</li>
      <li>Assignments with a project to build, and a lesson explaining what you’re building, how it works, and when you’d use it in real life.</li>
    </ul>
  </article>
</section>

<section class="full-panel gray">
  <section>
    <article class="no-border large-10 columns large-offset-1">
      <h2 class="green center">How does it work?</h2>
      <article>
        <h2 class="large-1 columns">1.</h2>
        <h2 class="large-4 columns">Get your coding project</h2>
        <p class="large-7 columns">Receive a bite-size assignment on that month’s programming goal. Each project includes a programming lesson and a project to build. </p>
      </article>
      <article>
        <h2 class="large-1 columns">2.</h2>
        <h2 class="large-4 columns">Try it on your own</h2>
        <p class="large-7 columns">Go through the programming lesson, use what you learn to build the project, and be ready to share what you made in your coding session.</p>
      </article>
      <article>
        <h2 class="large-1 columns">3.</h2>
        <h2 class="large-4 columns">Code together</h2>
        <p class="large-7 columns">This is where the magic happens. Meet with your Code Newbie group in regular, structured coding sessions to compare solutions, ask questions, and build together.</p>
      </article>
      <article>
        <h2 class="large-1 columns">4.</h2>
        <h2 class="large-4 columns">Track your learning</h2>
        <p class="large-7 columns">Write a code reflection on what you learned, what worked, and what didn’t work, at the end of each coding session. Post your project and recap on the Front End Newbie Board, and track your progress.</p>
      </article>
    </article>
  </section>
</section>

<section>
  <article class="large-12 columns center no-border">
    <h2 class="thin">Learning to code is hard. You don't have to do it alone.</h2>
    <h2>Sign up for <span class="green">Front End Newbie</span>.</h2>
  </article>
  <article class="pricing-callout large-4 columns center no-border">
    <div class="full-border">
      <div class="green-bg">
        <h3>Curious Learner</h3>
        <p>5-7 hrs/week</p>
      </div>
      <div class="body">
        <p>1 project/week</p>
        <p>1 lesson/week</p>
        <p>1 coding session/week<br>(1 hour each)</p>
      </div>
      <div class="gray-bg">
        <p>$9/month</p>
        <div><a href="#" class="cta-white">sign up</a></div>
      </div>
    </div>
  </article>
  <article class="pricing-callout large-4 columns center no-border">
    <div class="full-border">
      <div class="green-bg">
        <h3>Serious Learner</h3>
        <p>12-15 hrs/week</p>
      </div>
      <div class="body">
        <p>3 projects/week</p>
        <p>3 lessons/week</p>
        <p>3 coding sessions/week<br>(1 hour each)</p>
      </div>
      <div class="gray-bg">
        <p>$29/month</p>
        <div><a href="#" class="cta-white">sign up</a></div>
      </div>
    </div>
  </article>
  <article class="pricing-callout large-4 columns center no-border">
    <div class="full-border">
      <div class="green-bg">
        <h3>Hardcore Learner</h3>
        <p>15-20 hrs/week</p>
      </div>
      <div class="body">
        <p>3 projects/week</p>
        <p>3 lessons/week</p>
        <p>3 coding sessions/week<br>(1 hour each)</p>
        <p>2 hrs of group mentoring<br>with front-end expert</p>
      </div>
      <div class="gray-bg">
        <p>$99/month</p>
        <div><a href="#" class="cta-white">sign up</a></div>
      </div>
    </div>
  </article>
</section>






