<section>
  <article class="no-border">
    <h1 class="green">Front End Newbie <span class="subtitle desktop">A better way to learn HTML, CSS, Javascript, & jQuery</span></h1>
    <p><span class="subtitle mobile">A better way to learn HTML, CSS, jQuery, & Javascript </span></p>
  </article>

  <article class="large-6 columns no-border gray-bg full-padding">
    <h3>This is for you if ...</h3>
    <ul class="white-bullets">
      <li>You’re tired of blindly following tutorials.</li>
      <li>You want to build real projects and understand what you’re doing and why.</li>
      <li>You want to learn HTML, CSS, jQuery, and Javascript.</li>
      <li>You want the structure and community of an in-person bootcamp, but the flexibility of an online class.</li>
      <li><strong>You’re done learning how to code alone.</strong></li>
    </ul>
  </article>
  <article class="large-6 columns no-border pad-left no-top-pad">
    <h2 class="green">You'll get ...</h2><br>
    <ul class="small-list">
      <li>A <strong>monthly goal</strong> with weekly, bite-size assignments to help you get there.</li>
      <li>A small, supportive group of Code Newbies <strong>(3 - 5 people)</strong> to learn with.</li>
      <li>Assignments with <strong>a project to build</strong>, and <strong>a lesson</strong> explaining what you’re building, how it works, and when you’d use it in real life.</li>
      <li>Structured, <strong>weekly coding sessions</strong> with your coding group for focused learning.</li>
      <li>A place to <strong>track your progress</strong>, post your projects, and see how much you’ve learned.</li>
    </ul>
  </article>
</section>

<section class="full-panel gray">
  <section>
    <article class="no-border large-10 columns large-offset-1">
      <h2 class="green center">How does it work?</h2>
      <article>
          <h2 class="large-1 columns desktop">1.</h2>
          <h2 class="large-4 columns desktop">Get your coding project</h2>
        <div class="mobile">
          <h2 class="large-5 columns">1. Get your coding project</h2>
        </div>
        <p class="large-7 columns">Receive a bite-size assignment on that month’s programming goal. Each project includes a programming lesson and a project to build. </p>
      </article>
      <article>
        <h2 class="large-1 columns desktop">2.</h2>
        <h2 class="large-4 columns desktop">Try it on your own</h2>
        <div class="mobile">
          <h2 class="large-5 columns">2. Try it on your own</h2>
        </div>
        <p class="large-7 columns">Go through the programming lesson, use what you learn to build the project, and be ready to share what you made in your coding session.</p>
      </article>
      <article>
        <h2 class="large-1 columns desktop">3.</h2>
        <h2 class="large-4 columns desktop">Code together</h2>
        <div class="mobile">
          <h2 class="large-5 columns">3. Code together</h2>
        </div>
        <p class="large-7 columns">This is where the magic happens. Meet with your Code Newbie group in regular, structured coding sessions to compare solutions, ask questions, and build together.</p>
      </article>
      <article>
        <h2 class="large-1 columns desktop">4.</h2>
        <h2 class="large-4 columns desktop">Track your learning</h2>
        <div class="mobile">
          <h2 class="large-5 columns">4. Track your learning</h2>
        </div>
        <p class="large-7 columns">Write a code reflection on what you learned, what worked, and what didn’t work, at the end of each coding session. Post your project and recap on the Front End Newbie Board, and track your progress.</p>
      </article>
    </article>
  </section>
</section>

<section>
  <article class="large-12 columns center no-border">
    <h2 class="thin">Learning to code is hard. You don't have to do it alone.</h2>
    <h2>Sign up for <span class="green">Front End Newbie</span>.</h2>
  </article>
  <article class="pricing-callout large-4 columns center no-border">
    <div class="full-border">
      <div class="green-bg">
        <h3>Curious Learner</h3>
        <p>5-7 hrs/week</p>
      </div>
      <div class="body">
        <p>1 project/week</p>
        <p>1 lesson/week</p>
        <p>1 coding session/week<br>(1 hour each)</p>
      </div>
      <div class="gray-bg">
        <p>$9/month</p>
        <div><a href="#" class="cta-white">sign up</a></div>
      </div>
    </div>
  </article>
  <article class="pricing-callout large-4 columns center no-border">
    <div class="full-border">
      <div class="green-bg">
        <h3>Serious Learner</h3>
        <p>12-15 hrs/week</p>
      </div>
      <div class="body">
        <p>3 projects/week</p>
        <p>3 lessons/week</p>
        <p>3 coding sessions/week<br>(1 hour each)</p>
      </div>
      <div class="gray-bg">
        <p>$29/month</p>
        <div><a href="#" class="cta-white">sign up</a></div>
      </div>
    </div>
  </article>
  <article class="pricing-callout large-4 columns center no-border">
    <div class="full-border">
      <div class="green-bg">
        <h3>Hardcore Learner</h3>
        <p>15-20 hrs/week</p>
      </div>
      <div class="body">
        <p>3 projects/week</p>
        <p>3 lessons/week</p>
        <p>3 coding sessions/week<br>(1 hour each)</p>
        <p>2 hrs of group mentoring<br>with front-end expert</p>
      </div>
      <div class="gray-bg">
        <p>$99/month</p>
        <div><a href="#" class="cta-white">sign up</a></div>
      </div>
    </div>
  </article>
  <article class="center pad-left">
    <h2 class="thin green">Try Front End Newbie for one month.</h2>
    <p>If you’re dissatisfied for any reason at all, we’ll give you a full refund.</p>
    <%= mail_to "hello@codenewbie.org", "Got a question?" %>
  </article>
</section>






