li.less-bottom-space {
  padding: 0;
  margin-bottom: 10px;
}

ul.big-list {
  li span {
    &.title { 
      font-size: 30px; 
      font-weight: 500;
    }
  }
  li:before {
    font-size: 24px;
    width: 40px;
    line-height: 40px;
    margin: 0 10px 0 -55px;
  }
}

.white-bullets {
  padding-left: 0px;
  padding-top: 20px; 
  li {
    font-size: 16px;
    border: none;
    padding: 0px;
    margin-bottom: 25px;
    line-height: 24px;
  }

  li:before {
    content: "";
    background: #FFFFFF;
    border: 1px solid #979797;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: -20px;
  }
}

.small-list {
  li {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 0px;
  }

  li:before {
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 25px;
    margin: 0 10px 0 -40px;
  }
}